.button {
  height: initial;
  min-height: initial;
  border-radius: 10px;
  transition: all 0.3s;
  box-shadow: none;
  padding: 6px;
  font-size: 12px;
  &::after {
    display: none;
  }

  span {
    transition: all 0.3s;
  }
}

.primary {
  background-color: var(--primary-color);
  color: var(--primary-bg);
  border: none;
  &:hover {
    background-color: var(--color-hover);
  }
}

.secondary {
  background: var(--primary-bg);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  &:hover {
    background: var(--color-hover);
    border-color: var(--color-hover);
    span:nth-child(2) {
      color: var(--primary-color);
    }
  }
}
