@import "./font.scss";

:root {
  --maxWidthContent: 1120px;
  --primary-color: #0f0e17;
  --sub-color: #2e2f3e;

  --primary-bg: #fffffe;
  --color-hover: #f25f4c;

  --primary-font: "Open Sans";
  --secondary-font: "sans-serif";
  --wrapper: 192rem;
  --container: 117rem;
}

[data-theme="dark"] {
  --primary-color: #fffffe;
  --sub-color: #a7a9be;
  --primary-bg: #0f0e17f0;
}

*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Gilroy";
  font-size: 14px;
  box-sizing: border-box;
  line-height: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: var(--primary-color);
    background: var(--primary-bg);
  }
}

main {
  min-height: calc(100vh - 506px);

  @media (max-width: 768px) {
    min-height: initial;
  }
}
